{% extends "layout.html" %} {% block content %}
<meta charset=utf-8>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/query.css') }}">
<script type="text/javascript" src='/static/js/query.js'></script>
<div>
    <h2>PMS:</h2>
    
    <div class='info'>
        <b>Name:<p id=name></p> </b>
        <b>Status:<p id=status></p></b>
        <b>schedule:<p id=schedule></p></b>
        <b>Next Time:<p id=next_time></p></b>
    </div>
    
    <div id="real_log"></div>
</div>
{% endblock %}
